---
layout: default
---
<style type="text/css">
tbody tr {
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.25rem;
}
tbody tr > * {
    display: inline-block;
}
</style>

<div class="card">
    <h1 class="card-title">Recent News</h1>
    <br />


    {% for news in site.recent_news %}
    <table class="news_table">
      <tbody class="news_table_body">
        <tr><td>[{{news.date}}] {{news.content}}</td></tr>
      </tbody>
    </table>
    {% endfor %}
    <!-- View More -->
</div>